.container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
  column-gap: 20px;
  align-items: center;
  justify-content: center;
  width: 70%;
  padding: 10px 0;
  box-sizing: border-box;
  background-color: #F3F3F3;
  box-shadow: 0px 1px 1px 1px rgba(170, 178, 182, 0.79);
  border-radius: 15px;
  transition: 400ms;

  &:hover {
    cursor: pointer;
  }

  .bookIcon {
    font-size: 40px;
    color: #0F67EC;
  }

  span {
    font-size: 22px;
    color: #2e5191;
    text-shadow: 0px 0px 1px #6e6e6e;
  }

  &:hover {
    background-color: #d3d3d3;
  }
}
