.container {
  background-color: #e82323;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  box-sizing: border-box;
  padding: 10px 0 10px 0;

  img {
    width: 100%;
  }
}
