.container {
  display: flex;
  column-gap: 5px;
  width: 70%;
  justify-content: center;

  .blockNumbers {
    display: flex;
    column-gap: 2px;

    .blockForNumber {
      background-color: #0f67ec;
      font-size: 22px;
      color: white;
      padding: 5px 10px;
      box-sizing: border-box;
    }
  }
}
