.container {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;

  h5 {
    width: 55%;
    font-size: 18px;
    color: #2165a9;
    text-shadow: 0px 0px 1px #3b3b3b;
  }

  .blockForHours {
    width: 45%;
    display: flex;
    justify-content: space-between;

    span {
      font-size: 18px;
      color: #2165a9;
      text-shadow: 0px 0px 1px #3b3b3b;
    }
  }
}
