.container {
  background-image: url("../../../assets/images/backGroundPink.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 80%;
  display: flex;
  justify-content: center;
  position: relative;
}
